- name: Actualizar repositorio de paquetes
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Instalar dependencias necesarias
  apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
      - ubuntu-keyring
    state: present

